[Unit]
Description=Auto Git Push Service for CP Solutions
After=network.target

[Service]
Type=simple
User=b1ank
WorkingDirectory=/home/b1ank/Documents/codeCP
ExecStart=/home/b1ank/Documents/codeCP/autopush.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
